<div class="row" style="justify-content: space-between">
<h2 mat-dialog-title class="color-bleu row">R&eacute;servations modifi&eacute;es</h2>
</div>
<mat-list *ngFor="let ligne of listErreur">
	<mat-list-item>{{ligne}}</mat-list-item>
 	<mat-divider></mat-divider>
</mat-list>
<mat-dialog-actions>
	<button type="button" class="btn btn-link" (click)="dialogRef.close()">Fermer</button>
	<button type="button" *ngIf="modif" class="btn btn-success" (click)="supprimerReservation()">Supprimer</button>
</mat-dialog-actions>