.breadcrumb-menu {
  margin-left: auto;
  color: #f59121;

  &::before {
    display: none;
  }

  .btn-group {
    vertical-align: top;
  }

  .btn {
    padding: 0 $input-btn-padding-x;
    color: #f59121;
    vertical-align: top;
    border: 0;

    &:hover, &.active {
      color: #f59121;
      background: transparent;
    }
  }

  .open {
    .btn {
      color: #f59121;
      background: transparent;
    }
  }

  .dropdown-menu {
    min-width: 180px;
    line-height: $line-height-base;
  }
}
