label{
	margin-right: 10px;
}

input:read-only{
	cursor: not-allowed;
}

// Déplacement liste préférence affichage vers le bas
.cdk-overlay-pane{
	transform: translateX(-10px) translateY(+20px)!important;
}

.row{
	display: flex !important;
	flex-direction: row;
	margin:0;
}

.btn-success{
    border-radius: 4px;
    height: 35px;
}
.btn-success:hover{
	background-color: black;
}

.right{
	margin-left: auto;
}
.margin-left-15{
	margin-left: 15px;
}

.messageError{
	color: red;
	margin-left: auto;
	font-size: 18px;
}	

.hidden{
	visibility:hidden;
}

.nowrap{
	flex-wrap: nowrap!important;
}

.transparent{
	background-color: transparent;
}
.content{
	    display: contents;
}

// ACS

.container-fluid{
	margin :0px!important;
}

.btn-success{
	background-color: #353046;
	float: right;
	margin:5px 0;
}

.matinput{
    width: 40%;
    margin: 0 5px;
}

h2{
	margin-block-start: 0em;
    margin-block-end: 0em;
}

.rouge{
	color: #e52f2e;
}

.color-bleu{
	color: #353046!important;
}

.btn-link{
	color: #e52f2e;
}

.btn-link:hover{
	color: #b52a29;
}

.mat-dialog-actions{
    float: right;
}

.form-group input + input {
  margin-top: 5px;
}

.mat-column-type{
	width: 100px;
}

.mat-column-description{
	max-width: 300px;
	padding: 0 10px !important;
}

.mat-column-intitule{
	width: 200px;
}

td.mat-column-modifier{
	display: flex;
}