<div class="row" style="justify-content: space-between">
<h2 mat-dialog-title class="color-vert-stg row">Connexion </h2>

</div>
<mat-dialog-content>
	<div class="row">
    	<div class="form-group column" >
    		<div class="row">
    			<label>Identifiant de connexion</label>
    			<input style="border:none; border-bottom: 1px solid #959595;" id="nomconnexion" name="nomconnexion" [(ngModel)] = "form.username"/>
    		</div>
    		<div class="row" style="justify-content: space-between; ">
    			<label>Mot de passe</label>
    			<input style="border:none; border-bottom: 1px solid #959595;" type="password" id="motdepasse" name="motdepasse" [(ngModel)] = "form.password"/>
    		</div>
	    </div>

	</div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="btn btn-link"(click)="dialogRef.close()">Annuler</button>
    <button class="btn btn-success"(click)="onSubmit()">Connexion</button>
</mat-dialog-actions>