<div class="row" style="justify-content: space-between;height: 40px;">
<h2 mat-dialog-title class="color-vert-stg row">Connexion </h2>
</div>
<div *ngIf="isLoginFailed">
	<ngb-alert>
    	Erreur d'autentification
  </ngb-alert>
</div>
<mat-dialog-content>
	<div class="row">
    	<div class="form-group column" >
    		<div class="row">
    			<mat-form-field>
		  			<input matInput placeholder="Identifiant de connexion" id="nomconnexion" name="nomconnexion" [(ngModel)] = "form.username">
				</mat-form-field>
    		</div>
    		<div class="row">
    			<mat-form-field>
		  			<input matInput placeholder="Mot de passe" type="password" id="motdepasse" name="motdepasse" [(ngModel)] = "form.password">
				</mat-form-field>
    		</div>
	    </div>

	</div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="btn btn-link"(click)="dialogRef.close()">Annuler</button>
    <button class="btn btn-success"(click)="onSubmit()">Connexion</button>
</mat-dialog-actions>