<div style="display:flex; flex-direction:row; justify-content:space-between; align-items:center;">
	<h4>Gestion des utilisateurs</h4>
	<button class="btn btn-success" (click)="addUser()">Ajouter un utilisateur</button>
</div>
<div style="display:flex; flex-direction:row; flex-wrap:wrap">
<mat-card *ngFor="let user of users; index as i" style="width:350px; display:flex; margin-bottom: 15px; margin-right : 10px;">
  <mat-card-header style="width:100%; display: flex; align-items:center;">
    <div mat-card-avatar><i class="fas fa-user" style="font-size:40px"></i></div>
    <mat-card-title>{{user.username}}</mat-card-title>
    <mat-card-subtitle style="margin:0" *ngIf="user.administrateur && user.superAdministrateur">Super Administrateur</mat-card-subtitle>
    <mat-card-subtitle style="margin:0" *ngIf="user.administrateur && !user.superAdministrateur">Administrateur</mat-card-subtitle>
    <mat-card-subtitle style="margin:0" *ngIf="!user.administrateur && !user.superAdministrateur">Utilisateur</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions style="margin-left: 30px; display: flex; flex-direction: column; padding-top: 0px; align-self: flex-end;">
    <button style = "margin: 0px;" class="btn btn-success"(click)="updateUser(i)">Modifier</button>
    <button class="btn btn-success"(click)="deleteUser(i)">Supprimer</button>
  </mat-card-actions>
</mat-card>
</div>