<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none mr-auto" type="button" appSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div  *ngIf="!info.token" class="flex end">
	<button class="btn btn-success"
		(click)="signin()" title="Connexion">Connexion</button>
	</div>
	<div  *ngIf="info.token" class="flex end">
	<button class="btn btn-success"
		(click)="logout()" title="D&eacute;connexion">D&eacute;connexion</button>
	</div>
</header>