<div class="row" style="justify-content: space-between">
<h2 mat-dialog-title class="color-bleu row">Informations R&eacute;servation</h2>
<mat-checkbox disabled="disabled" color="warn" style="float:right;" [(ngModel)] = "reservationAdd.asso">Association</mat-checkbox>
</div>

<mat-dialog-content>
	<div class="row">
    		<div class="form-group" *ngIf="reservationAdd.asso"> 
	        	<mat-form-field>
		  			<input matInput readonly placeholder="Raison sociale" id="rs" name="rs" [(ngModel)] = "reservationAdd.nom">
				</mat-form-field>
	    	</div>
	    	<div class="form-group row" *ngIf="!reservationAdd.asso">
	    		<div class="column">
	    			<mat-form-field>
		  				<input matInput readonly placeholder="Nom" id="nom" required name="nom" [(ngModel)] = "reservationAdd.nom">
					</mat-form-field>
	    		</div>
	    		<div class="column" *ngIf="reservationAdd.prenom!=null">
	    			<mat-form-field>
		  				<input matInput readonly placeholder="Pr&eacute;nom" id="prenom" name="prenom" [(ngModel)] = "reservationAdd.prenom">
					</mat-form-field>
	    		</div>
	    	</div>
		</div>
		<div class="row">
			<div class="column">
    			<mat-form-field>
	  				<input matInput readonly placeholder="Date de d&eacute;but" name="dateEmprunt" [(ngModel)] = "dateEmprunt">
				</mat-form-field>
	    	</div>
	    	<div class="column">
	    		<mat-form-field>
	  				<input matInput readonly placeholder="Date de fin" name="dateRestitution" [(ngModel)] = "dateRestitution">
				</mat-form-field>
	    	</div>
		</div>
		<div>
			<hr/>
			<h5>S&eacute;lection du mat&eacute;riel</h5>
			<div class ="row" *ngFor="let articlechoisi of reservationAdd.articleResaDto; index as i">
				<mat-form-field>
	  				<input matInput readonly placeholder="Type" [(ngModel)] = "articlechoisi.type">
				</mat-form-field>
				<mat-form-field>
	  				<input matInput readonly placeholder="Nom" [(ngModel)] = "articlechoisi.nom">
				</mat-form-field>
				<mat-form-field>
	  				<input matInput readonly placeholder="Quantite" [(ngModel)] = "articlechoisi.quantite">
				</mat-form-field>
			</div>	
		</div>
		<hr/>
		<div style="width:100%">
			<h5>Commentaires</h5>
			<mat-form-field style="width:100%">
    			<textarea matInput readonly style="min-width: 100%" [(ngModel)] = "reservationAdd.commentaire" [ngModelOptions]="{standalone: true}"></textarea>
    		</mat-form-field>
    	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button type="button" class="btn btn-link" (click)="dialogRef.close()">Fermer</button>
</mat-dialog-actions>